# Flutter/Dart
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android Özel
# -----------------------
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
*.iml
.idea/

# ⚠️ GÜVENLİK (Kritik Alanlar)
# -----------------------
# Anahtarlar ve Sertifikalar
key.properties
**/*.keystore
**/*.jks
**/*.p12
**/*.pem

# Google Hizmetleri (API Anahtarları İçerir)
# Eğer bu dosyaları depona atarsan herkes API anahtarlarını görebilir!
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# MacOS/Windows/Linux Dağıtımları
# -----------------------
.DS_Store
.target/